<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
</head>
<body>
	<h1 style="text-align:center; font-weight: bolder;">欢迎使用自行车租赁系统</h1>
	<h2><div><p style="text-align: center;">Please Choice SignIn or SignUp</p></div></h2>
	<hr style="height:2px;border:none;border-top:10px groove skyblue;width: 50%;" >
	<div><p style="text-align: center;">If you hava a count, please <a href="signin/">SignIn</a></p> </div>
	<div><p style="text-align: center;">Or you need register a count,please <a href="signup/">SignUp</a></p></div>

</body>
</html>